*{
    margin:0px;
	padding:0px;
}



#menu{
	height:70px;
	margin:auto;
	
}


.menuitem{
	float:left;
	list-style-type:none;
	margin-left:120px;
	height:70px;
	width:110px;
	
}

.link1{
	
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;
	text-align:center;
	color:white;
	font-size:20px;
	position:absolute;
	top:25px;
	
}

.link1:hover .menuitem{
	color:#00DBBD;
}

#mainmenu{
	
	width:100%;
	height:70px;
	background-color:rgba(36,45,52,0.7);
}

#header{
	width:100%;
	height:70px;
	position:fixed;
	top:0px;
	z-index:555;
	
}

#menulogo{
	
	position:absolute;
	top:0px;
	cursor:pointer;
}

footer{
	position:absolute;
	z-index:5;
	font-size:20px;
	background-color:rgb(36,45,52);
	top:800px;
	width:100%;
}

.footer-logo{
	width:100%;
	height:100px;
	text-align:center;
	
}

.info-container{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	margin-left:20px;
	margin-right:20px;
	height:160px;
	color:white;
	vertical-align:top;
}

ul{
	
	list-style-type:none;
}

.footer-copyright{
	
	text-align:center;
	background-color:black;
	color:white;
	width:100%;
}

a{
	text-decoration:none;
	color:white;
	text-shadow:2px 2px black;
}

a:hover{
	color:#00DBBD;
	
}
.footer-info{
	width:1000px;
	margin:auto;
}

.fbicon{
	
	color:#3B5998;
}

.googleicon{
	color:#d34836;
	
}

.twittericon{
	color:#00aced;
	
}

.linkedinicon{
	color:#007bb5;
}

.pinteresticon{
	color:#cb2027;
}

.footerlabel{
	
	color:#494DC4;
}

#background{
	background-image:url("../img/img17.jpg");
	width:100%;
	height:800px;
	background-size:cover;
}




#icon{
	color:white;
	cursor:pointer;
	position:absolute;
	top:20px;
	right:20px;
	text-shadow:2px 2px rgb(36,45,52);
}

#icon:hover{
	color:#00DBBD;
	
}

#submenu{
	display:inline-block;
	font-size:20px;
    position:absolute;
	top:70px;
	right:0px;
	background:rgba(36,45,52,0.7);
	width:200px;
	text-align:center;
	height:200px;
	display:none;
	box-shadow:-2px 2px 2px 2px grey;
	
}

#profilelink{
	position:absolute;
	top:50px;
	border-top:1px solid grey;
	width:100%;
	height:40px;
}

#loglink{
	position:absolute;
	top:150px;
	border-top:1px solid grey;
	width:100%;
	height:40px;
}
#cartlink{
	position:absolute;
	top:100px;
	border-top:1px solid grey;
	width:100%;
    height:40px;
	
	}

#homelink{
	border-top:1px solid grey;
	width:100%;
	height:40px;
	
}



#cartlogo{
	position:absolute;
	left:70px;

	
	
}

#carttext{
	position:absolute;
	left:95px;
}

.rotated{
	transform:rotate(3960deg);
	transition-duration:5s;
}

#title{
	position:absolute;
	top:100px;
	left:50px;
	font-weight:bold;
	font-size:30px;
	
}

#title2{
	color:#DCE1E3;
	
}


#shippayrewiew{
	position:absolute;
	top:140px;
	font-weight:bold;
	font-size:20px;
	width:100%;
	background:#D5DADB;
	height:35px;
}


#shipping{
	position:absolute;
	left:50px;
	top:5px;
	
}

#payment{
	position:absolute;
	left:200px;
	top:5px;
}


#placeorder{
	position:absolute;
	left:350px;
	top:5px;
}

#backcart{
	position:absolute;
	top:185px;
	left:50px;
	font-size:15px;
	
}

#shipaddress{
	position:absolute;
	top:230px;
	left:50px;
	font-size:20px;
	font-weight:bold;
}

#useraddress{
	position:absolute;
	top:300px;
	left:50px;
	font-size:15px;
	font-weight:bold;

}

#addressinput{
	position:absolute;
	top:320px;
	left:50px;
	font-size:15px;

}

#usercity{
	position:absolute;
	top:350px;
	left:50px;
	font-size:15px;
    font-weight:bold;
}

#cityinput{
	position:absolute;
	top:380px;
	left:50px;
	font-size:15px;

}


#userstate{
	position:absolute;
	top:420px;
	left:50px;
	font-size:15px;
    font-weight:bold;
}

#stateinput{
	position:absolute;
	top:440px;
	left:50px;
	font-size:15px;

}

#userzipcode{
	position:absolute;
	top:480px;
	left:50px;
	font-size:15px;
    font-weight:bold;
}

#zipcodeinput{
	position:absolute;
	top:500px;
	left:50px;
	font-size:15px;

}


#userphone{
	position:absolute;
	top:530px;
	left:50px;
	font-size:15px;
    font-weight:bold;
}

#phoneinput{
	position:absolute;
	top:550px;
	left:50px;
	font-size:15px;

}

#continue{
	position:absolute;
	top:590px;
	left:50px;
	font-size:15px;
}

#ordersummary{
	position:absolute;
	top:300px;
	right:50px;
	width:300px;
	height:300px;
	font-size:20px;
	background:#C2CDD1;
}


#ordersub{
	font-size:15px;
	background:#FFFFFF;
	width:250px;
	height:200px;
     margin:auto;
	position:absolute;
	top:50px;
	left:20px;
}

#delivery{
	background:#FFFFFF;
	width:250px;
	height:200px;
	position:absolute;
	top:230px;
	left:500px;
}

#deliverymethod{
	font-size:20px;
	font-weight:bold;
	
}


#standard{
	position:absolute;
	left:40px;
	top:30px;
}

#standardradio{
	position:absolute;
	top:30px;
}

#express{
	position:absolute;
	top:50px;
	left:50px;
}

#expressradio{
	position:absolute;
	top:50px;
}

#sameday{
	position:absolute;
	top:100px;
	left:60px;
}

#samedayradio{
	position:absolute;
	top:60px;
}
